# Data Science Assignment 1
Kishan Ved

22110122

In [271]:
import pandas as pd
import numpy as np

df = pd.read_csv('musae_facebook_target.csv');

In [272]:
df

,id,facebook_id,page_name,page_type
0,0,145647315578475,The Voice of China 中国好声音,tvshow
1,1,191483281412,U.S. Consulate General Mumbai,government
2,2,144761358898518,ESET,company
3,3,568700043198473,Consulate General of Switzerland in Montreal,government
4,4,1408935539376139,Mark Bailey MP - Labor for Miller,politician
...,...,...,...,...
22465,22465,1379955382222841,Kurt Wiegel MdL,politician
22466,22466,1651527995097082,dubdub Stories,company
22467,22467,155369444540412,Ministerio del Interior - Paraguay,government
22468,22468,175067819212798,Tottus Perú,company
22469,22469,27208897877,SPORT1 Doppelpass,tvshow

In [273]:
edges_df = pd.read_csv("musae_facebook_edges.csv")

In [274]:
edges_df

         id_1   id_2
0           0  18427
1           1  21708
2           1  22208
3           1  22171
4           1   6829
...       ...    ...
170997  20188  20188
170998  22340  22383
170999  22348  22348
171000   5563   5563
171001  22425  22425

[171002 rows x 2 columns]

### Road map

1. tot - deg[v] = e(s,s)  {deg is a dict containing degrees}

2. Remove v from deg

3. Update deg of vertices that were connected to v

4. Find the density 

5. Store the vertex removed and the density of the subgraph obtained after this

In [276]:
deg = {}

for _, row in edges_df.iterrows():
    for node in ['id_1', 'id_2']:
        if row[node] in deg:
            deg[row[node]] += 1
        else:
            deg[row[node]] = 1

In [277]:
deg # dictionary of degrees

{0: 1,
 18427: 51,
 1: 34,
 21708: 195,
 22208: 205,
 22171: 330,
 6829: 27,
 16590: 87,
 20135: 140,
 8894: 52,
 15785: 147,
 10281: 13,
 22265: 226,
 7136: 25,
 22405: 41,
 10379: 468,
 13737: 62,
 8533: 36,
 14344: 50,
 2812: 45,
 5755: 68,
 16260: 26,
 15026: 42,
 17370: 193,
 17460: 66,
 8049: 193,
 5307: 122,
 4987: 99,
 18304: 25,
 12305: 67,
 19743: 678,
 20024: 128,
 21729: 659,
 10554: 56,
 11557: 72,
 5228: 64,
 9934: 71,
 2: 12,
 9048: 14,
 6353: 23,
 2629: 2,
 11537: 22,
 13205: 20,
 22304: 20,
 17728: 9,
 19337: 14,
 126: 23,
 17554: 11,
 8495: 17,
 5857: 11,
 3: 10,
 16742: 21,
 293: 59,
 5826: 36,
 3479: 22,
 19753: 32,
 17346: 15,
 10945: 46,
 22338: 46,
 11319: 14,
 9654: 8,
 4: 51,
 13645: 65,
 20876: 32,
 11446: 22,
 16203: 56,
 2830: 20,
 2004: 37,
 20624: 38,
 21280: 47,
 1182: 32,
 21538: 26,
 1443: 71,
 11423: 29,
 187: 142,
 5730: 16,
 2983: 35,
 1489: 22,
 6823: 43,
 17695: 112,
 11102: 158,
 6390: 64,
 17242: 20,
 10018: 32,
 5147: 31,
 6427: 41,
 14628: 70,
 1882: 30,
 22401: 33,
 16128: 61,
 12872: 69,
 9263: 55,
 14155: 32,
 21631: 71,
 6329: 21,
 17507: 18,
 2282: 73,
 9706: 57,
 4738: 94,
 3676: 80,
 16972: 139,
 5356: 31,
 8514: 45,
 14332: 16,
 7212: 18,
 8843: 25,
 1879: 26,
 1377: 98,
 1997: 17,
 7813: 20,
 3891: 50,
 2732: 76,
 4109: 33,
 5: 22,
 8288: 22,
 9206: 9,
 1840: 23,
 17845: 10,
 17411: 23,
 21768: 9,
 15735: 40,
 18468: 15,
 21755: 21,
 16406: 37,
 14111: 23,
 20510: 94,
 945: 95,
 20271: 30,
 14862: 148,
 3726: 42,
 6946: 20,
 12902: 30,
 4808: 37,
 14241: 18,
 7106: 11,
 18497: 16,
 6: 16,
 18893: 34,
 1193: 133,
 4000: 116,
 12625: 27,
 290: 174,
 22261: 32,
 13966: 83,
 3300: 133,
 22403: 148,
 18782: 42,
 5066: 35,
 17038: 19,
 3816: 35,
 16052: 266,
 12645: 63,
 15644: 163,
 7: 3,
 3305: 25,
 12361: 82,
 18601: 40,
 8: 3,
 13872: 27,
 14205: 67,
 3975: 11,
 9: 2,
 2773: 144,
 14497: 650,
 10: 3,
 14: 55,
 11332: 328,
 13511: 15,
 11: 4,
 20092: 36,
 8106: 22,
 12130: 24,
 19489: 46,
 12: 6,
 4683: 2,
 21430: 12,
 18391: 2,
 18059: 4,
 6008: 3,
 19356: 1,
 13: 17,
 22435: 47,
 1744: 21,
 395: 31,
 16399: 92,
 9001: 41,
 2280: 121,
 6113: 50,
 7235: 15,
 213: 17,
 7431: 18,
 501: 15,
 11971: 26,
 16282: 15,
 11209: 83,
 1494: 89,
 12762: 81,
 4253: 17,
 2904: 26,
 18062: 72,
 6037: 6,
 3848: 11,
 11034: 27,
 5458: 333,
 15323: 31,
 18512: 188,
 5822: 19,
 1041: 70,
 14392: 13,
 19837: 44,
 20071: 27,
 10622: 35,
 9946: 32,
 4328: 47,
 8002: 78,
 4502: 275,
 21323: 77,
 1187: 11,
 8004: 27,
 3695: 36,
 17866: 116,
 10418: 51,
 14666: 18,
 21157: 30,
 10182: 37,
 2075: 42,
 14164: 48,
 10109: 18,
 2684: 57,
 17325: 26,
 10426: 370,
 18216: 222,
 16534: 37,
 9745: 31,
 1943: 20,
 10641: 17,
 20655: 7,
 3128: 19,
 9105: 7,
 5994: 31,
 7301: 3,
 2327: 24,
 11315: 67,
 22020: 16,
 8389: 51,
 18858: 33,
 5398: 25,
 12017: 68,
 16630: 15,
 15: 3,
 15507: 13,
 353: 3,
 18689: 15,
 16: 1,
 10134: 5,
 17: 4,
 1626: 16,
 17433: 6,
 2417: 8,
 21059: 4,
 18: 38,
 9220: 290,
 20276: 241,
 11804: 144,
 11323: 256,
 9677: 103,
 11644: 124,
 3259: 3,
 2224: 50,
 8139: 387,
 16615: 33,
 961: 233,
 8232: 131,
 5943: 47,
 17163: 55,
 15174: 229,
 11498: 121,
 7966: 141,
 20435: 118,
 14597: 30,
 2442: 408,
 16071: 46,
 10611: 24,
 5622: 140,
 1209: 51,
 20938: 29,
 3279: 9,
 10468: 182,
 15531: 298,
 5046: 10,
 12842: 105,
 16524: 91,
 14547: 22,
 16895: 709,
 9525: 145,
 17984: 183,
 19: 13,
 330: 8,
 9184: 2,
 16420: 21,
 1773: 21,
 4048: 6,
 18886: 114,
 10681: 4,
 701: 380,
 4064: 64,
 15172: 6,
 18374: 6,
 11003: 341,
 20923: 21,
 20: 1,
 364: 151,
 7427: 42,
 1901: 115,
 916: 26,
 7502: 44,
 6219: 26,
 6173: 53,
 19493: 25,
 12609: 36,
 18527: 44,
 21787: 40,
 4320: 5,
 15425: 36,
 17212: 14,
 6980: 73,
 21809: 16,
 8038: 35,
 8057: 24,
 3342: 62,
 2416: 54,
 3821: 45,
 15543: 12,
 12169: 36,
 10126: 23,
 436: 33,
 4045: 19,
 6686: 51,
 1063: 34,
 10231: 35,
 17357: 50,
 6696: 50,
 14249: 65,
 347: 32,
 9905: 54,
 9151: 31,
 5951: 46,
 13530: 29,
 1710: 11,
 15188: 28,
 4246: 12,
 9104: 69,
 9594: 28,
 22: 28,
 17818: 68,
 4106: 25,
 6540: 26,
 14467: 40,
 3964: 31,
 10633: 21,
 15690: 45,
 21325: 104,
 14179: 17,
 15129: 26,
 4670: 57,
 4794: 28,
 5215: 56,
 7470: 35,
 14027: 29,
 19111: 53,
 10959: 44,
 11609: 52,
 15868: 11,
 10393: 31,
 897: 79,
 15368: 49,
 7781: 51,
 11816: 40,
 21221: 15,
 481: 97,
 1189: 32,
 11488: 34,
 23: 4,
 7082: 8,
 6763: 56,
 19678: 21,
 6457: 17,
 24: 4,
 11345: 21,
 6432: 5,
 21035: 33,
 21955: 83,
 11196: 2,
 7750: 60,
 7216: 53,
 26: 30,
 18024: 27,
 6290: 72,
 22177: 32,
 2509: 24,
 10544: 62,
 18368: 52,
 17848: 104,
 13602: 67,
 14409: 39,
 16994: 33,
 19957: 29,
 7139: 19,
 12458: 60,
 17354: 54,
 8734: 56,
 3270: 62,
 7694: 59,
 8763: 42,
 3798: 50,
 8788: 45,
 8149: 31,
 18153: 55,
 4948: 114,
 3779: 20,
 6264: 55,
 18949: 43,
 14768: 33,
 9235: 43,
 18725: 29,
 7460: 146,
 27: 6,
 5890: 22,
 21247: 5,
 9521: 20,
 21785: 22,
 3586: 15,
 4857: 11,
 11197: 4,
 6272: 7,
 17523: 102,
 1308: 1,
 21662: 92,
 29: 15,
 9500: 6,
 3443: 7,
 4754: 14,
 14971: 22,
 20829: 10,
 11158: 106,
 14840: 46,
 20895: 6,
 15807: 10,
 17088: 11,
 10972: 47,
 15359: 18,
 5160: 6,
 4941: 7,
 19643: 8,
 30: 5,
 17178: 2,
 2838: 3,
 17983: 167,
 8584: 15,
 16854: 14,
 31: 10,
 12972: 51,
 13716: 13,
 18727: 16,
 21598: 22,
 17090: 16,
 13783: 31,
 17350: 34,
 12542: 7,
 1722: 117,
 5049: 121,
 32: 43,
 1703: 33,
 16417: 32,
 17252: 53,
 19252: 44,
 19222: 17,
 18703: 27,
 12869: 53,
 10041: 17,
 9839: 35,
 9248: 50,
 1783: 105,
 4858: 13,
 8531: 56,
 22330: 64,
 19574: 28,
 7095: 66,
 9986: 48,
 14248: 30,
 14790: 103,
 8636: 14,
 7347: 34,
 10757: 8,
 9849: 31,
 5619: 33,
 20280: 23,
 7041: 57,
 17833: 94,
 6622: 53,
 19700: 25,
 8766: 9,
 14832: 12,
 120: 22,
 20983: 68,
 2157: 2,
 13003: 74,
 6083: 47,
 4075: 43,
 10496: 14,
 1980: 10,
 22467: 17,
 19509: 29,
 1024: 26,
 14791: 81,
 33: 2,
 15191: 17,
 22181: 36,
 34: 2,
 14106: 54,
 14650: 326,
 194: 2,
 21683: 15,
 16853: 14,
 36: 4,
 7360: 10,
 21489: 83,
 18754: 4,
 1293: 20,
 37: 18,
 13886: 15,
 17363: 6,
 38: 6,
 2124: 51,
 21229: 44,
 14944: 5,
 1381: 18,
 783: 21,
 39: 17,
 11260: 41,
 18037: 6,
 18217: 7,
 4133: 2,
 11916: 18,
 19387: 15,
 13130: 2,
 14454: 4,
 4225: 122,
 1176: 7,
 10670: 90,
 18234: 9,
 19271: 7,
 3864: 39,
 8977: 25,
 21630: 14,
 16885: 41,
 40: 5,
 20152: 68,
 12062: 28,
 10581: 33,
 10497: 40,
 19197: 16,
 41: 23,
 9484: 2,
 16635: 12,
 14796: 20,
 14772: 17,
 6095: 13,
 1200: 14,
 19010: 3,
 4882: 18,
 19667: 54,
 922: 10,
 13584: 13,
 5097: 34,
 21163: 16,
 10621: 17,
 18515: 16,
 5739: 5,
 8669: 93,
 12067: 10,
 19458: 25,
 15413: 3,
 11815: 13,
 19307: 35,
 45: 13,
 42: 6,
 13992: 20,
 18030: 5,
 16727: 19,
 14804: 74,
 909: 141,
 8050: 18,
 43: 13,
 4163: 8,
 4518: 108,
 10503: 125,
 10997: 8,
 2422: 116,
 1273: 29,
 13418: 82,
 19101: 35,
 14109: 97,
 1750: 42,
 188: 11,
 21626: 30,
 13415: 33,
 44: 59,
 3103: 76,
 4751: 90,
 4401: 60,
 9813: 61,
 2532: 64,
 1126: 69,
 21324: 62,
 4031: 57,
 21274: 59,
 5589: 61,
 568: 60,
 21681: 59,
 19964: 65,
 18235: 60,
 839: 62,
 16105: 59,
 7288: 58,
 13140: 90,
 19621: 70,
 19127: 91,
 4077: 60,
 14703: 61,
 1618: 110,
 20168: 61,
 13408: 57,
 11248: 69,
 12025: 61,
 7919: 99,
 12745: 60,
 5525: 60,
 6398: 62,
 20516: 101,
 9567: 62,
 4527: 62,
 2160: 57,
 20037: 65,
 18167: 89,
 20889: 62,
 9996: 62,
 6706: 62,
 4917: 58,
 11850: 81,
 11473: 60,
 17591: 83,
 5165: 56,
 13074: 59,
 8062: 62,
 3074: 70,
 18638: 60,
 7978: 59,
 3981: 62,
 18539: 60,
 18624: 58,
 1517: 87,
 21087: 62,
 5010: 59,
 5317: 62,
 8795: 83,
 7606: 62,
 7887: 36,
 15604: 5,
 11022: 61,
 5337: 2,
 1713: 6,
 16993: 41,
 21536: 42,
 46: 9,
 16127: 33,
 3494: 29,
 3963: 53,
 2252: 66,
 16368: 74,
 5878: 28,
 15553: 52,
 365: 81,
 47: 13,
 1125: 14,
 5207: 26,
 22277: 14,
 630: 16,
 1503: 51,
 19436: 15,
 9275: 34,
 12516: 9,
 3409: 4,
 19731: 23,
 16155: 44,
 48: 4,
 16879: 18,
 5541: 7,
 14228: 58,
 6206: 29,
 49: 31,
 2599: 7,
 7734: 4,
 655: 27,
 4809: 59,
 8911: 17,
 7799: 30,
 9256: 19,
 14076: 32,
 13608: 27,
 7837: 13,
 6674: 18,
 14868: 20,
 8535: 19,
 19014: 12,
 7553: 30,
 1274: 17,
 17284: 22,
 10512: 18,
 13853: 23,
 12285: 20,
 280: 21,
 19626: 26,
 10210: 24,
 20216: 12,
 7735: 214,
 5362: 10,
 5500: 25,
 21105: 29,
 50: 20,
 197: 134,
 8606: 181,
 14031: 183,
 12993: 61,
 9379: 54,
 19388: 70,
 5280: 72,
 13576: 87,
 20153: 64,
 3530: 25,
 17694: 88,
 15969: 43,
 7320: 53,
 10707: 63,
 9240: 6,
 14213: 78,
 6441: 225,
 52: 11,
 13463: 1,
 12715: 6,
 11878: 1,
 6333: 4,
 14080: 5,
 5972: 11,
 12546: 1,
 10857: 14,
 17291: 6,
 10100: 2,
 7206: 5,
 53: 1,
 21072: 10,
 54: 6,
 13755: 34,
 14402: 13,
 12462: 8,
 19426: 6,
 14260: 69,
 55: 17,
 12472: 58,
 10980: 19,
 9578: 39,
 15384: 41,
 15839: 119,
 21270: 5,
 2316: 20,
 2348: 16,
 14350: 45,
 8348: 109,
 22352: 41,
 22149: 4,
 15121: 6,
 21544: 19,
 10626: 5,
 21937: 11,
 19001: 51,
 56: 20,
 16887: 29,
 9872: 5,
 496: 244,
 9642: 9,
 4779: 38,
 13197: 3,
 18853: 9,
 6096: 10,
 5057: 25,
 1339: 63,
 3935: 80,
 20781: 32,
 1635: 13,
 18970: 7,
 723: 14,
 4305: 11,
 7951: 12,
 20538: 33,
 57: 15,
 10895: 7,
 2117: 28,
 4656: 38,
 10816: 4,
 18442: 1,
 6023: 25,
 20543: 22,
 12204: 36,
 5561: 15,
 6213: 73,
 15940: 2,
 5400: 5,
 9882: 12,
 16561: 3,
 15071: 1,
 59: 3,
 5353: 30,
 13048: 6,
 18152: 7,
 60: 16,
 21713: 97,
 11140: 76,
 17860: 101,
 11611: 156,
 4425: 23,
 6886: 39,
 5777: 79,
 61: 94,
 22276: 8,
 12379: 12,
 21732: 4,
 12684: 21,
 8357: 12,
 7200: 17,
 11028: 6,
 18377: 6,
 16332: 6,
 7316: 4,
 5126: 13,
 17731: 4,
 5492: 13,
 17491: 20,
 1922: 5,
 11728: 3,
 11888: 11,
 5603: 13,
 15088: 7,
 21896: 4,
 3076: 7,
 4909: 71,
 16700: 6,
 15904: 14,
 18569: 7,
 5074: 8,
 6488: 2,
 12572: 3,
 13627: 4,
 6130: 15,
 13117: 6,
 16797: 4,
 4739: 14,
 1769: 6,
 12410: 6,
 3273: 3,
 5523: 6,
 8455: 23,
 12627: 2,
 10518: 3,
 20103: 1,
 18502: 13,
 1521: 8,
 9364: 11,
 13462: 9,
 12846: 13,
 15433: 23,
 20795: 28,
 21751: 11,
 2857: 12,
 20105: 8,
 3148: 12,
 18693: 43,
 1544: 17,
 9559: 12,
 17289: 13,
 348: 3,
 21951: 17,
 8671: 19,
 9921: 5,
 22236: 5,
 9880: 4,
 16482: 20,
 3213: 16,
 18881: 4,
 19157: 5,
 21594: 4,
 13238: 17,
 4079: 4,
 16400: 36,
 8501: 7,
 11788: 7,
 11001: 6,
 4601: 19,
 12556: 4,
 11809: 47,
 8968: 23,
 13339: 12,
 4604: 5,
 5220: 9,
 1728: 4,
 11667: 7,
 3930: 12,
 8698: 6,
 3215: 5,
 9417: 13,
 15751: 6,
 19367: 12,
 7839: 11,
 785: 9,
 21781: 14,
 62: 2,
 21172: 33,
 3026: 37,
 63: 2,
 6511: 5,
 21097: 6,
 8677: 26,
 20924: 45,
 9759: 112,
 18289: 42,
 4190: 20,
 21055: 28,
 20257: 12,
 6041: 53,
 9850: 32,
 12831: 122,
 7108: 105,
 6720: 93,
 22230: 65,
 326: 47,
 20879: 48,
 8837: 46,
 21917: 87,
 3094: 77,
 15749: 34,
 10439: 129,
 16291: 107,
 22052: 90,
 17247: 104,
 20029: 19,
 19654: 68,
 22166: 80,
 65: 12,
 19598: 6,
 872: 1,
 789: 23,
 11230: 40,
 8245: 13,
 3047: 40,
 13244: 21,
 17566: 18,
 17392: 124,
 9940: 29,
 66: 10,
 9858: 38,
 21572: 40,
 15718: 12,
 8458: 4,
 1679: 5,
 2216: 45,
 4846: 22,
 9382: 26,
 3987: 13,
 12677: 120,
 67: 6,
 18992: 32,
 16676: 16,
 791: 5,
 18919: 9,
 10932: 26,
 68: 5,
 366: 7,
 20113: 5,
 10922: 5,
 16502: 9,
 19635: 6,
 69: 8,
 526: 26,
 20012: 24,
 4186: 10,
 12031: 44,
 13610: 8,
 19031: 23,
 959: 19,
 21687: 7,
 70: 19,
 ...}

In [278]:
tot = sum(deg.values())/2
tot # e(S,S)

171002.0

In [279]:
ctr = len(deg) # |S|
ctr

22470

In [280]:
total_vertices = len(deg)

In [281]:
density = [] # stores densities
vertex = [] # vertex[0:i] (i included) contains vertices removed to achive density[i]

In [282]:
def find_density_greedy():
    global tot
    global deg
    global ctr
    global edges_df
    global vertex
    
    v = min(deg, key=lambda k: deg[k]) # vertex with minimum degree
    vertex.append(v) # Store the removed vertex
    ctr = ctr - 1 # decrease |S| by 1 (as v is removed)
    tot = tot - deg[v] # Update e(S,S)
    den = tot / ctr
    density.append(den)


    selected_rows = edges_df[edges_df['id_1'] == v]
    
    deg_update = selected_rows['id_2'].value_counts().to_dict()
    for ver, count in deg_update.items():
        if ver in deg:
            deg[ver] -= count
    deg.pop(v, None) # Remove v from deg, None for no error if v is not in deg

    edges_df = edges_df[~edges_df.isin([v]).any(axis=1)]

In [283]:
i = 1
while(ctr>1):
    i+=1
    if (i%1000==0):
        print(i)
    find_density_greedy()

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000

In [284]:
density = np.array(density)

In [285]:
np.argmax(density)

17132

In [286]:
x = np.argmax(density)

In [298]:
density[x]

15.130222971706951

In [287]:
graph = []
for i in range(0, total_vertices):
    if i not in vertex[:x+1]:
        graph.append(i)

In [289]:
len(graph)

5337

In [297]:
dict = {}
for ver in graph:
    type = df.loc[ver, 'page_type']
    if(type in dict.keys()):
        dict[type] += 1
    else:
        dict[type] = 1

dict

{'government': 3076, 'politician': 1429, 'tvshow': 388, 'company': 444}