# Data Science Assignment 1
Kishan Ved

22110122

In [158]:
import pandas as pd
import numpy as np

df = pd.read_csv('musae_facebook_target.csv');

In [159]:
df

,id,facebook_id,page_name,page_type
0,0,145647315578475,The Voice of China 中国好声音,tvshow
1,1,191483281412,U.S. Consulate General Mumbai,government
2,2,144761358898518,ESET,company
3,3,568700043198473,Consulate General of Switzerland in Montreal,government
4,4,1408935539376139,Mark Bailey MP - Labor for Miller,politician
...,...,...,...,...
22465,22465,1379955382222841,Kurt Wiegel MdL,politician
22466,22466,1651527995097082,dubdub Stories,company
22467,22467,155369444540412,Ministerio del Interior - Paraguay,government
22468,22468,175067819212798,Tottus Perú,company
22469,22469,27208897877,SPORT1 Doppelpass,tvshow

In [160]:
edges_df = pd.read_csv("musae_facebook_edges.csv")

In [161]:
edges_df

         id_1   id_2
0           0  18427
1           1  21708
2           1  22208
3           1  22171
4           1   6829
...       ...    ...
170997  20188  20188
170998  22340  22383
170999  22348  22348
171000   5563   5563
171001  22425  22425

[171002 rows x 2 columns]

### Road map

1. tot - deg[v] = e(s,s)  {deg is a dict containing degrees}

2. Remove v from deg

3. Update deg of vertices that were connected to v

4. Find the density 

5. Store the vertex removed and the density of the subgraph obtained after this

In [162]:
edges_df.value_counts('id_1').sort_index()

id_1
0         1
1        34
2        12
3        10
4        51
         ..
22455     5
22458     5
22459     1
22461     9
22464    14
Name: count, Length: 18357, dtype: int64

In [163]:
deg = edges_df.value_counts('id_1').sort_index().to_dict()
tot = sum(d.values())

In [164]:
deg # dictionary of degrees

{0: 1,
 1: 34,
 2: 12,
 3: 10,
 4: 51,
 5: 22,
 6: 16,
 7: 3,
 8: 3,
 9: 2,
 10: 3,
 11: 4,
 12: 6,
 13: 17,
 14: 54,
 15: 3,
 16: 1,
 17: 4,
 18: 38,
 19: 13,
 20: 1,
 21: 2,
 22: 28,
 23: 4,
 24: 4,
 25: 2,
 26: 30,
 27: 6,
 28: 4,
 29: 15,
 30: 5,
 31: 10,
 32: 43,
 33: 2,
 34: 2,
 35: 6,
 36: 4,
 37: 18,
 38: 6,
 39: 17,
 40: 5,
 41: 23,
 42: 6,
 43: 13,
 44: 59,
 45: 12,
 46: 9,
 47: 13,
 48: 4,
 49: 31,
 50: 20,
 52: 11,
 53: 1,
 54: 6,
 55: 17,
 56: 20,
 57: 15,
 58: 2,
 59: 3,
 60: 16,
 61: 94,
 62: 2,
 63: 2,
 64: 15,
 65: 12,
 66: 10,
 67: 6,
 68: 5,
 69: 8,
 70: 19,
 71: 1,
 72: 20,
 73: 8,
 74: 25,
 75: 7,
 76: 1,
 77: 29,
 78: 1,
 79: 8,
 80: 6,
 81: 47,
 82: 5,
 83: 10,
 84: 1,
 85: 8,
 86: 7,
 87: 2,
 88: 49,
 89: 5,
 90: 30,
 91: 10,
 92: 6,
 93: 2,
 94: 20,
 95: 48,
 96: 6,
 97: 4,
 98: 20,
 99: 32,
 100: 10,
 101: 45,
 102: 13,
 103: 19,
 104: 30,
 105: 8,
 106: 58,
 107: 1,
 108: 2,
 109: 31,
 110: 16,
 111: 2,
 112: 5,
 113: 46,
 114: 10,
 115: 6,
 116: 5,
 117: 1,
 118: 5,
 119: 4,
 120: 21,
 121: 9,
 122: 3,
 123: 27,
 124: 9,
 125: 5,
 126: 22,
 127: 71,
 128: 27,
 129: 26,
 130: 25,
 131: 4,
 132: 5,
 133: 45,
 134: 21,
 135: 6,
 136: 6,
 137: 1,
 138: 34,
 139: 3,
 140: 4,
 141: 17,
 142: 21,
 143: 3,
 144: 5,
 145: 16,
 146: 2,
 147: 12,
 148: 10,
 149: 7,
 150: 18,
 151: 13,
 152: 9,
 153: 6,
 154: 6,
 155: 9,
 156: 14,
 157: 28,
 158: 1,
 159: 43,
 160: 10,
 161: 1,
 162: 3,
 163: 5,
 164: 7,
 165: 21,
 166: 4,
 167: 27,
 168: 3,
 169: 4,
 170: 3,
 171: 6,
 172: 2,
 173: 60,
 174: 5,
 175: 5,
 176: 56,
 177: 3,
 178: 9,
 179: 5,
 180: 15,
 181: 5,
 182: 10,
 183: 14,
 184: 6,
 185: 13,
 186: 33,
 187: 140,
 188: 10,
 189: 7,
 190: 5,
 191: 28,
 192: 1,
 193: 3,
 194: 2,
 195: 5,
 196: 35,
 197: 133,
 198: 7,
 199: 9,
 200: 6,
 201: 7,
 202: 2,
 203: 19,
 204: 4,
 205: 17,
 206: 26,
 207: 4,
 208: 3,
 209: 2,
 210: 21,
 211: 3,
 212: 132,
 213: 16,
 214: 4,
 215: 10,
 216: 41,
 217: 14,
 218: 23,
 219: 6,
 220: 5,
 221: 7,
 222: 26,
 223: 4,
 224: 18,
 225: 4,
 226: 8,
 227: 30,
 228: 9,
 229: 14,
 230: 24,
 231: 5,
 232: 2,
 233: 12,
 234: 15,
 235: 6,
 236: 8,
 237: 9,
 238: 53,
 239: 10,
 240: 29,
 241: 4,
 242: 10,
 243: 3,
 244: 4,
 245: 1,
 246: 26,
 247: 11,
 248: 16,
 249: 1,
 250: 6,
 251: 1,
 252: 23,
 253: 1,
 254: 32,
 255: 2,
 256: 14,
 257: 29,
 258: 3,
 259: 1,
 260: 4,
 261: 3,
 262: 12,
 263: 1,
 264: 7,
 265: 3,
 266: 2,
 267: 8,
 268: 8,
 269: 2,
 270: 29,
 271: 1,
 273: 6,
 274: 3,
 275: 2,
 276: 2,
 277: 23,
 278: 5,
 279: 1,
 280: 20,
 281: 9,
 282: 1,
 283: 32,
 284: 2,
 285: 30,
 286: 5,
 287: 16,
 288: 6,
 289: 18,
 290: 171,
 291: 5,
 292: 4,
 293: 2,
 294: 2,
 295: 2,
 296: 47,
 297: 8,
 298: 16,
 299: 2,
 301: 17,
 302: 12,
 303: 6,
 304: 56,
 305: 35,
 306: 40,
 307: 81,
 308: 16,
 309: 7,
 311: 14,
 312: 3,
 313: 2,
 314: 2,
 315: 10,
 316: 2,
 317: 9,
 318: 7,
 319: 9,
 320: 2,
 321: 46,
 322: 6,
 323: 31,
 324: 6,
 325: 57,
 326: 46,
 327: 3,
 328: 12,
 329: 9,
 330: 7,
 331: 4,
 332: 6,
 333: 10,
 334: 25,
 335: 13,
 336: 10,
 337: 23,
 338: 11,
 339: 52,
 340: 3,
 341: 25,
 342: 14,
 343: 41,
 344: 3,
 345: 3,
 346: 19,
 347: 31,
 348: 2,
 349: 14,
 350: 37,
 351: 13,
 352: 5,
 353: 2,
 354: 1,
 355: 6,
 356: 91,
 357: 1,
 358: 1,
 359: 7,
 360: 8,
 361: 25,
 362: 13,
 363: 3,
 364: 149,
 365: 79,
 366: 6,
 367: 36,
 368: 36,
 369: 65,
 370: 25,
 371: 21,
 372: 1,
 373: 2,
 374: 2,
 375: 42,
 376: 4,
 377: 37,
 378: 9,
 379: 2,
 380: 10,
 381: 1,
 382: 23,
 383: 32,
 384: 1,
 385: 11,
 386: 2,
 387: 8,
 388: 7,
 389: 3,
 390: 4,
 391: 27,
 392: 20,
 393: 13,
 394: 9,
 395: 29,
 396: 7,
 397: 10,
 398: 6,
 399: 4,
 400: 15,
 401: 5,
 402: 40,
 403: 31,
 404: 1,
 405: 47,
 406: 138,
 407: 78,
 408: 1,
 409: 1,
 410: 35,
 411: 1,
 412: 34,
 413: 7,
 414: 5,
 416: 2,
 417: 14,
 418: 1,
 419: 2,
 420: 15,
 421: 7,
 423: 2,
 424: 4,
 425: 6,
 426: 34,
 427: 1,
 428: 1,
 429: 2,
 430: 19,
 431: 8,
 432: 8,
 433: 1,
 434: 1,
 435: 1,
 436: 32,
 437: 17,
 438: 2,
 439: 19,
 440: 7,
 441: 7,
 442: 4,
 444: 3,
 445: 3,
 446: 2,
 447: 7,
 448: 3,
 449: 18,
 450: 4,
 451: 4,
 452: 15,
 453: 2,
 454: 9,
 455: 3,
 456: 15,
 457: 4,
 459: 9,
 460: 4,
 461: 1,
 462: 1,
 463: 8,
 464: 12,
 465: 2,
 466: 12,
 467: 7,
 468: 1,
 469: 7,
 470: 17,
 471: 1,
 472: 3,
 473: 1,
 474: 9,
 475: 1,
 476: 2,
 477: 2,
 478: 77,
 479: 9,
 480: 10,
 481: 93,
 482: 7,
 483: 7,
 484: 11,
 485: 2,
 486: 25,
 487: 14,
 488: 1,
 489: 5,
 490: 9,
 491: 4,
 492: 1,
 493: 3,
 494: 27,
 495: 41,
 496: 237,
 497: 15,
 498: 4,
 499: 4,
 500: 1,
 501: 12,
 502: 14,
 504: 14,
 505: 11,
 506: 1,
 507: 37,
 508: 5,
 509: 12,
 510: 22,
 511: 18,
 512: 8,
 513: 12,
 514: 32,
 515: 2,
 516: 7,
 517: 13,
 518: 1,
 519: 3,
 520: 2,
 521: 8,
 522: 108,
 523: 2,
 524: 8,
 525: 12,
 526: 24,
 527: 2,
 528: 13,
 529: 3,
 530: 4,
 531: 6,
 532: 7,
 533: 8,
 534: 6,
 535: 14,
 536: 38,
 537: 3,
 538: 14,
 539: 3,
 540: 6,
 541: 3,
 542: 17,
 543: 7,
 544: 2,
 545: 4,
 546: 9,
 547: 1,
 548: 20,
 549: 1,
 550: 36,
 551: 29,
 552: 15,
 553: 5,
 554: 27,
 555: 5,
 556: 3,
 557: 5,
 558: 2,
 559: 36,
 560: 57,
 561: 4,
 562: 23,
 563: 6,
 564: 2,
 565: 1,
 566: 2,
 567: 50,
 568: 59,
 569: 1,
 570: 4,
 571: 12,
 572: 12,
 573: 4,
 574: 5,
 575: 3,
 576: 1,
 577: 5,
 578: 9,
 579: 1,
 580: 16,
 581: 1,
 582: 14,
 583: 18,
 584: 1,
 585: 21,
 586: 11,
 587: 4,
 588: 2,
 589: 8,
 590: 7,
 591: 20,
 592: 24,
 593: 18,
 594: 18,
 595: 16,
 596: 2,
 597: 8,
 598: 4,
 599: 1,
 600: 32,
 601: 16,
 602: 3,
 603: 4,
 604: 18,
 605: 1,
 606: 16,
 607: 1,
 608: 25,
 609: 4,
 610: 12,
 611: 1,
 612: 1,
 613: 50,
 614: 73,
 615: 12,
 616: 1,
 617: 2,
 618: 1,
 619: 4,
 620: 25,
 621: 6,
 622: 53,
 623: 9,
 624: 4,
 625: 7,
 626: 5,
 627: 11,
 628: 3,
 629: 1,
 630: 8,
 631: 14,
 632: 32,
 633: 3,
 634: 5,
 635: 11,
 636: 1,
 637: 7,
 638: 4,
 639: 4,
 640: 2,
 641: 5,
 642: 3,
 643: 11,
 644: 4,
 645: 7,
 646: 17,
 647: 26,
 648: 11,
 649: 3,
 650: 1,
 651: 6,
 652: 10,
 653: 1,
 654: 6,
 655: 26,
 656: 11,
 657: 12,
 658: 1,
 659: 23,
 660: 45,
 661: 8,
 662: 2,
 663: 12,
 664: 51,
 665: 5,
 666: 37,
 667: 1,
 668: 6,
 669: 21,
 670: 6,
 671: 2,
 672: 20,
 673: 2,
 674: 2,
 675: 28,
 676: 2,
 677: 1,
 678: 4,
 679: 77,
 681: 4,
 682: 35,
 683: 2,
 684: 36,
 685: 19,
 686: 11,
 687: 1,
 688: 36,
 689: 13,
 690: 22,
 691: 2,
 692: 4,
 693: 3,
 694: 22,
 695: 12,
 696: 5,
 697: 10,
 698: 11,
 699: 8,
 700: 6,
 701: 364,
 702: 23,
 703: 6,
 704: 6,
 705: 3,
 706: 2,
 707: 1,
 708: 3,
 709: 59,
 710: 112,
 711: 6,
 712: 7,
 713: 2,
 714: 20,
 715: 108,
 716: 2,
 717: 5,
 718: 8,
 719: 3,
 720: 31,
 721: 34,
 722: 17,
 723: 12,
 724: 7,
 725: 7,
 726: 1,
 727: 3,
 728: 2,
 729: 67,
 730: 61,
 731: 3,
 732: 28,
 733: 1,
 734: 3,
 735: 2,
 736: 7,
 737: 1,
 738: 18,
 739: 28,
 740: 1,
 741: 24,
 742: 13,
 743: 32,
 744: 15,
 745: 16,
 746: 17,
 747: 3,
 748: 2,
 749: 4,
 750: 30,
 751: 3,
 752: 23,
 753: 15,
 754: 151,
 755: 20,
 756: 10,
 757: 21,
 758: 14,
 759: 6,
 760: 13,
 761: 10,
 762: 12,
 763: 8,
 764: 3,
 765: 6,
 766: 16,
 767: 51,
 768: 31,
 769: 2,
 770: 91,
 771: 1,
 772: 2,
 773: 2,
 774: 18,
 775: 2,
 776: 3,
 777: 1,
 778: 2,
 779: 18,
 780: 1,
 781: 19,
 782: 13,
 783: 18,
 784: 2,
 785: 8,
 786: 3,
 787: 1,
 788: 3,
 789: 20,
 790: 7,
 791: 4,
 792: 6,
 793: 8,
 794: 27,
 795: 3,
 796: 5,
 797: 18,
 798: 4,
 799: 8,
 800: 10,
 801: 2,
 802: 44,
 803: 1,
 804: 14,
 805: 4,
 806: 9,
 807: 2,
 808: 27,
 809: 1,
 810: 6,
 811: 37,
 813: 13,
 814: 5,
 815: 8,
 816: 3,
 817: 6,
 818: 13,
 819: 7,
 820: 5,
 821: 2,
 822: 22,
 823: 2,
 824: 12,
 825: 1,
 826: 1,
 827: 39,
 828: 4,
 829: 18,
 830: 2,
 831: 13,
 832: 2,
 833: 35,
 834: 1,
 835: 13,
 836: 5,
 837: 2,
 838: 2,
 839: 59,
 840: 65,
 841: 1,
 842: 7,
 843: 3,
 844: 1,
 845: 10,
 846: 13,
 847: 2,
 848: 29,
 849: 5,
 850: 2,
 851: 5,
 852: 5,
 853: 1,
 854: 2,
 855: 7,
 856: 2,
 857: 5,
 858: 1,
 859: 3,
 860: 2,
 861: 4,
 862: 2,
 863: 32,
 864: 18,
 865: 24,
 866: 4,
 867: 3,
 868: 1,
 869: 5,
 870: 4,
 871: 22,
 873: 10,
 874: 1,
 875: 7,
 876: 2,
 877: 2,
 878: 16,
 879: 8,
 880: 1,
 881: 11,
 882: 9,
 883: 5,
 884: 1,
 885: 4,
 886: 3,
 887: 4,
 888: 31,
 889: 9,
 890: 12,
 891: 22,
 893: 1,
 894: 4,
 895: 4,
 896: 2,
 897: 78,
 898: 1,
 899: 35,
 900: 4,
 901: 27,
 902: 10,
 903: 7,
 904: 170,
 905: 3,
 906: 2,
 907: 17,
 908: 22,
 909: 136,
 910: 1,
 911: 4,
 912: 1,
 913: 1,
 914: 5,
 915: 9,
 916: 24,
 917: 70,
 918: 8,
 919: 12,
 920: 13,
 921: 4,
 922: 9,
 923: 1,
 924: 16,
 925: 10,
 926: 1,
 927: 77,
 929: 3,
 930: 33,
 931: 5,
 932: 1,
 933: 15,
 934: 1,
 935: 39,
 936: 26,
 937: 40,
 938: 2,
 939: 1,
 940: 4,
 942: 14,
 943: 13,
 944: 1,
 945: 91,
 946: 2,
 947: 3,
 948: 13,
 949: 5,
 950: 2,
 951: 2,
 952: 5,
 953: 4,
 954: 24,
 955: 18,
 956: 8,
 957: 17,
 958: 4,
 959: 16,
 960: 14,
 961: 224,
 962: 6,
 963: 4,
 964: 5,
 965: 2,
 966: 5,
 967: 4,
 968: 28,
 969: 3,
 970: 6,
 972: 4,
 973: 2,
 974: 1,
 975: 1,
 976: 1,
 977: 69,
 978: 6,
 979: 3,
 980: 1,
 981: 4,
 982: 1,
 983: 136,
 984: 4,
 985: 2,
 986: 3,
 987: 6,
 988: 4,
 989: 1,
 990: 9,
 991: 1,
 992: 35,
 993: 5,
 994: 4,
 995: 19,
 996: 1,
 997: 32,
 998: 1,
 999: 8,
 1000: 24,
 1001: 13,
 1002: 1,
 1003: 5,
 1004: 30,
 1005: 8,
 1006: 2,
 1007: 74,
 1008: 13,
 1009: 6,
 1010: 1,
 1011: 32,
 1012: 15,
 1013: 3,
 1014: 3,
 1015: 8,
 ...}

In [165]:
tot # e(S,S)

171002

In [166]:
ctr = len(deg) # |S|
ctr

18357

In [167]:
density = [] # stores densities
vertex = [] # vertex[0:i] (i included) contains vertices removed to achive density[i]

In [168]:
def find_density_greedy():
    global tot
    global deg
    global ctr
    global edges_df
    global vertex
    
    v = min(deg, key=lambda k: deg[k]) # vertex with minimum degree
    vertex.append(v) # Store the removed vertex
    ctr = ctr - 1 # decrease |S| by 1 (as v is removed)
    tot = tot - deg[v] # Update e(S,S)
    den = tot / ctr
    density.append(den)


    selected_rows = edges_df[edges_df['id_1'] == v]
    
    deg_update = selected_rows['id_2'].value_counts().to_dict()
    for ver, count in deg_update.items():
        if ver in deg:
            deg[ver] -= count
    deg.pop(v, None) # Remove v from deg, None for no error if v is not in deg

    edges_df = edges_df[~edges_df.isin([v]).any(axis=1)]

In [171]:
i = 1
while(len(edges_df)):
    i+=1
    if (i%1000==0):
        print(i)
    find_density_greedy()

1000
2000
3000
4000
5000
6000

KeyboardInterrupt: